@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.buttonloader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    -webkit-mask: conic-gradient(from 15deg, #0000, #000);
    animation: l26 1s infinite steps(12);
}

.buttonloader,
.buttonloader:before,
.buttonloader:after {
    background:
        radial-gradient(closest-side at 50% 12.5%, radial-gradient(closest-side at 12.5% 50%, #9acd32 96%, #0000) 0 50%/80% 20% repeat-x);
}

.buttonloader:before,
.buttonloader:after {
    content: "";
    grid-area: 1/1;
    transform: rotate(30deg);
}

.buttonloader:after {
    transform: rotate(60deg);
}

@keyframes l26 {
    100% {
        transform: rotate(1turn);
    }
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #BF00ED;
}

input:focus + .slider {
    box-shadow: 0 0 1px #BF00ED;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.truncate-props {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

.slider.round:before {
    border-radius: 50%;
}

.page-loader {
    width: 48px;
    height: 48px;
    border: 5px solid #000;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    100% {
        transform: rotate(360deg);
    }
}

.scrollhost::-webkit-scrollbar {
    display: none;
}

.scrollhost::-moz-scrollbar {
    display: none;
}

.scrollhost {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-color: transparent transparent; /*just hides the scrollbar for firefox */
}

/* JavaScript */
const data = [{}, {}];

const handleDelete = (index) => {
    data.filter((item, i) => i !== index);
}
